@import "./color_schemes/dark";

$link-color: #ac76c0;
$body-heading-color: #dec2e8;
$sidebar-color: #1e1e1e;
$nav-list-link-color: #dec2e8;
$nav-child-link-color: #dec2e8;
$body-background-color: #212325;


